<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>sightings</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/4.0.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <title>Squirrel Project</title>
    </head>
    <body>
        <h1>Squirrel Project</h1>
        <p>
            <ul>
                <li>View Squirrel Map <a href="/sightings/map/">here</a>!</li>
                <li>Add a new sighting <a href="/sightings/add/">here</a>!</li>
                <li>Update a sighting <a href="/sightings/update/">here</a>!</li>
                <li>View squirrel stats <a href="/sightings/stats/">here</a>!</li>
                <li>View all sightings <a href="/sightings/">here</a>!</li>
            </ul>
        </p>
    <table class="table table-bordered  table-hover table-responsive table-striped">
      <thead class="thead-dark">
        <tr>
          <th>latitude</th>
          <th>longitude</th>
          <th>unique_squirrel_id</th>
          <th>shift</th>
          <th>date</th>
          <th>age</th>
          <th>primary_fur_color</th>
          <th>location</th>
          <th>specific_location</th>
          <th>running</th>
          <th>chasing</th>
          <th>climbing</th>
          <th>eating</th>
          <th>foraging</th>
          <th>other_activities</th>
          <th>kuks</th>
          <th>quaas</th>
          <th>moans</th>
          <th>tail_flags</th>
          <th>tail_twitches</th>
          <th>approaches</th>
          <th>indifferent</th>
          <th>runs_from</th></tr>
      </thead>
      <tbody> {% for row in users %}
        <tr>
          <td>{{row.unique_squirrel_id}}</td>
          <td>{{row.latitude}}</td>
          <td>{{row.longitude}}</td>
          <td>{{row.shift}}</td>
          <td nowrap="nowrap">{{row.date}}</td>
          <td>{{row.age}}</td>
          <td>{{row.primary_fur_color}}</td>
          <td nowrap="nowrap">{{row.location}}</td>
          <td>{{row.specific_location}}</td>
          <td>{{row.running}}</td>
          <td>{{row.chasing}}</td>
          <td>{{row.climbing}}</td>
          <td>{{row.eating}}</td>
          <td>{{row.foraging}}</td>
          <td>{{row.other_activities}}</td>
          <td>{{row.kuks}}</td>
          <td>{{row.quaas}}</td>
          <td>{{row.moans}}</td>
          <td>{{row.tail_flags}}</td>
          <td>{{row.tail_twitches}}</td>
          <td>{{row.approaches}}</td>
          <td>{{row.indifferent}}</td>
          <td>{{row.runs_from}}</td>
          <td>
            <a href="/sightings/{{row.unique_squirrel_id}}/">update</a></td>
        </tr>{% endfor %}</tbody>Squirrel Data</td>
    </table>
    </body>
</html>