<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>sightings</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/4.0.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <title>squirrelTracker-NYC</title>
    </head>
    <body style="background-color:ivory;">       
    <h1>squirrelTracker-NYC</h1>
        <p>
            <ul>
                <li>View Squirrel Map <a href="/sightings/map/">here</a>!</li>
                <li>Add a new sighting <a href="/sightings/add/">here</a>!</li>
                <li>View squirrel stats <a href="/sightings/stats/">here</a>!</li>
                <li>View all sightings <a href="/sightings/">here</a>!</li>
            </ul>
        </p>
        <table class="table table-bordered table-responsive table-striped table-hover">
            <thead class="thead-dark">
              <tr>
                <th>LATITUDE</th>
                <th>LONGITUDE</th>
                <th>UNIQUE_SQUIRREL_ID</th>
                <th>SHIFT</th>
                <th>DATE</th>
                <th>AGE</th>
                <th>PRIMARY_FUR_COLOR</th>
                <th>LOCATION</th>
                <th>SPECIFIC_LOCATION</th>
                <th>RUNNING</th>
                <th>CHASING</th>
                <th>CLIMBING</th>
                <th>EATING</th>
                <th>FORAGING</th>
                <th>OTHER_ACTIVITIES</th>
                <th>KUKS</th>
                <th>QUAAS</th>
                <th>MOANS</th>
                <th>TAIL_FLAGS</th>
                <th>TAIL_TWITCHES</th>
                <th>APPROACHES</th>
                <th>INDIFFERENT</th>
                <th>RUNS_FROM</th></tr>
            </thead>
            <tbody>{% for row in users %}
              <tr>
                <td>{{row.LATITUDE}}</td>
                <td>{{row.LONGITUDE}}</td>
                <td>
                  <a href="/sightings/{{row.unique_squirrel_id}}/">{{row.unique_squirrel_id}}</a></td>
                <td>{{row.SHIFT}}</td>
                <td nowrap="nowrap">{{row.DATE}}</td>
                <td>{{row.AGE}}</td>
                <td>{{row.PRIMARY_FUR_COLOR}}</td>
                <td nowrap="nowrap">{{row.LOCATION}}</td>
                <td>{{row.SPECIFIC_LOCATION}}</td>
                <td>{{row.RUNNING}}</td>
                <td>{{row.CHASING}}</td>
                <td>{{row.CLIMBING}}</td>
                <td>{{row.EATING}}</td>
                <td>{{row.FORAGING}}</td>
                <td>{{row.OTHER_ACTIVITIES}}</td>
                <td>{{row.KUKS}}</td>
                <td>{{row.QUAAS}}</td>
                <td>{{row.MOANS}}</td>
                <td>{{row.TAIL_FLAGS}}</td>
                <td>{{row.TAIL_TWITCHES}}</td>
                <td>{{row.APPROACHES}}</td>
                <td>{{row.INDIFFERENT}}</td>
                <td>{{row.RUNS_FROM}}</td>
                <td>
                  <a href="/sightings/update/{{row.unique_squirrel_id}}/">update</a></td>
              </tr>{% endfor %}</tbody>
          </table>
          <nav aria-label="...">
            <ul class="pagination">
              {% if users.has_previous %}
              <li class="abled">
                <a href="?page=1">
                  <span aria-hidden="true">First</span></a>
              </li>
              <li class="abled">
                <a href="?page={{ users.previous_page_number }}" aria-label="Previous">Previous</a></li>
              {%else%}
              <li class="disabled">
                <a href="?page=1">
                  <span aria-hidden="true">First</span></a>
              </li>
              <li class="disabled">
                <a href="#">Previous</a></li>
              {% endif %}
              <li class='active'>
                <span>{{ users.number }} of {{ users.paginator.num_pages }}</span></li>
              {% if users.has_next %}
              <li class="abled">
                <a href="?page={{ users.next_page_number }}" aria-label="Next">Next</a></li>
              <li class="abled">
                <a href="?page={{ users.paginator.num_pages }}">
                  <span aria-hidden="true">Last</span>
                </a>
              </li>
              {%else%}
              <li class="disabled">
                <a href="#" aria-label="Next">Next</a></li>
              <li class="disabled">
                <a href="?page={{ users.paginator.num_pages }}">
                  <span aria-hidden="true">Last</span></a>
              </li>
              {% endif %}
            </ul>
          </nav>
    </body>
</html>