<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Sightings</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/4.0.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <title>squirrelTracker-NYC</title>
    </head>
    <body style="background-color:ivory;">     
      <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #C1693C;">
        <a class="navbar-brand" href="">squirrelTracker-NYC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="../">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sightings/map/">Map <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sightings/add/">Add</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sightings/stats/">Statistics</a>
            </li>

          </ul>
        </div>
      </nav>  
    <h1>squirrelTracker-NYC</h1>
        <p>
        </p>
        <table class="table table-bordered table-responsive table-striped table-hover">
            <thead class="thead-dark">
              <tr>
                <th>LATITUDE</th>
                <th>LONGITUDE</th>
                <th>UNIQUE_SQUIRREL_ID</th>
                <th>SHIFT</th>
                <th>DATE</th>
                <th>AGE</th>
                <th>PRIMARY_FUR_COLOR</th>
                <th>LOCATION</th>
                <th>SPECIFIC_LOCATION</th>
                <th>RUNNING</th>
                <th>CHASING</th>
                <th>CLIMBING</th>
                <th>EATING</th>
                <th>FORAGING</th>
                <th>OTHER_ACTIVITIES</th>
                <th>KUKS</th>
                <th>QUAAS</th>
                <th>MOANS</th>
                <th>TAIL_FLAGS</th>
                <th>TAIL_TWITCHES</th>
                <th>APPROACHES</th>
                <th>INDIFFERENT</th>
                <th>RUNS_FROM</th></tr>
            </thead>
            <tbody>{% for row in users %}
              <tr>
                <td>{{row.latitude}}</td>
                <td>{{row.longitude}}</td>
                <td>
                  <a href="/sightings/update/{{row.unique_squirrel_id}}/">{{row.unique_squirrel_id}}</a></td>
                <td>{{row.shift}}</td>
                <td nowrap="nowrap">{{row.date}}</td>
                <td>{{row.age}}</td>
                <td>{{row.primary_fur_color}}</td>
                <td nowrap="nowrap">{{row.location}}</td>
                <td>{{row.specific_location}}</td>
                <td>{{row.running}}</td>
                <td>{{row.chasing}}</td>
                <td>{{row.climbing}}</td>
                <td>{{row.eating}}</td>
                <td>{{row.foraging}}</td>
                <td>{{row.other_activitites}}</td>
                <td>{{row.kuks}}</td>
                <td>{{row.quaas}}</td>
                <td>{{row.moans}}</td>
                <td>{{row.tail_flags}}</td>
                <td>{{row.tail_twitches}}</td>
                <td>{{row.approaches}}</td>
                <td>{{row.indifferent}}</td>
                <td>{{row.runs_from}}</td>
                <td>
                  <a href="/sightings/update/{{row.unique_squirrel_id}}/">update</a></td>
              </tr>{% endfor %}</tbody>
          </table>
          <nav aria-label="...">
            <ul class="pagination">
              {% if users.has_previous %}
              <li class="abled">
                <a href="?page=1">
                  <span aria-hidden="true">First</span></a>
              </li>
              <li class="abled">
                <a href="?page={{ users.previous_page_number }}" aria-label="Previous">Previous</a></li>
              {%else%}
              <li class="disabled">
                <a href="?page=1">
                  <span aria-hidden="true">First</span></a>
              </li>
              <li class="disabled">
                <a href="#">Previous</a></li>
              {% endif %}
              <li class='active'>
                <span>{{ users.number }} of {{ users.paginator.num_pages }}</span></li>
              {% if users.has_next %}
              <li class="abled">
                <a href="?page={{ users.next_page_number }}" aria-label="Next">Next</a></li>
              <li class="abled">
                <a href="?page={{ users.paginator.num_pages }}">
                  <span aria-hidden="true">Last</span>
                </a>
              </li>
              {%else%}
              <li class="disabled">
                <a href="#" aria-label="Next">Next</a></li>
              <li class="disabled">
                <a href="?page={{ users.paginator.num_pages }}">
                  <span aria-hidden="true">Last</span></a>
              </li>
              {% endif %}
            </ul>
          </nav>
    </body>
</html>