<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>sightings</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/4.0.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <title>Squirrel Project</title>
    </head>
    <body style="background-color:ghostwhite;">
        <h1>Squirrel Project</h1>
        <p>
            <ul>
                <li>View Squirrel Map <a href="/sightings/map/">here</a>!</li>
                <li>Add a new sighting <a href="/sightings/add/">here</a>!</li>
                <li>View squirrel stats <a href="/sightings/stats/">here</a>!</li>
                <li>View all sightings <a href="/sightings/">here</a>!</li>
            </ul>
        </p>
        <p>
        </p>
       <h2 style="font-family:courier;text-align:left;">Statistics of sightings data of squirrels</h2>
    <ol style="list-style-type:round;">
      <li>Total number of sightings: {{total}} </li>
                  <br>
                  <li>Latitiude：average-{{lat.average_latitude}}</li>
                  <li>Latitiude：min-{{lat.min_latitude}}</li>
                  <li>Latitiude：max-{{lat.max_latitude}}</li>
                  <br>
                  <li>Longitude：average-{{lon.average_longitude}}</li>
                  <li>Longitude：min-{{lon.min_longitude}}</li>
                  <li>Longitude：max-{{lon.max_longitude}}</li>
                  <br>
                  <li>shift: {{shift}}</li>
                  <br>
                  <li>age: {{age}}</li>
                  <br>
                   <li>primary_fur_color: {{fur}}</li> 
        </ol>
      <br>
    </body>
</html>