<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Stats of Sightings</title></head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/4.0.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <body style="background-color:ivory;">     
    <nav class="navbar navbar-default " style="background-color: #C1693C;">
        <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/sightings">squirrelTracker-NYC </a></div>
        <ul class="nav navbar-nav ">
          <li>
            <a href="/sightings">Home</a></li>
            <li>
                <a href="/sightings/map">Map</a></li>
            <li>
            <a href="/sightings/add">Add</a></li>
          <li class="nav-item active">
            <a class="nav-link" href="/sightings/stats">Statistics<span class="sr-only">(current)</a></li>
        </ul>
      </div>
    </nav>
    <h2 style="font-family:courier;text-align:center;">Statistics of Squirrel Sightings Data</h2>
    <ol style="list-style-type:round;text-align:left;">
      <li>Total number of sightings: {{total}} </li>
                  <br>
                  <li>Latitiude：average-{{lat.average_latitude}}</li>
                  <li>Latitiude：min-{{lat.min_latitude}}</li>
                  <li>Latitiude：max-{{lat.max_latitude}}</li>
                  <br>
                  <li>Longitude：average-{{lon.average_longitude}}</li>
                  <li>Longitude：min-{{lon.min_longitude}}</li>
                  <li>Longitude：max-{{lon.max_longitude}}</li>
                  <br>
                  <li>Shift: {{shift}}</li>
                  <br>
                  <li>Age: {{age}}</li>
                  <br>
                  <li>Primary Fur Color: {{fur}}</li> 
        </ol>
      <br>
    </body>
</html>